html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

/*.swiper-button-disabled {
    opacity: 0 !important;
}*/
.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1367px) {
  .contain {
    max-width: 1170px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none;
  color: #5941B6; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8D88A1;
  height: 157px;
  padding: 11px 15px; }

input[type="text"] {
  border-radius: 4px;
  border: 1px solid #8D88A1;
  padding: 0 15px;
  height: 54px;
  width: 100%; }

body {
  color: #222;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 137.5%;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

p {
  margin-bottom: 0; }
  p:not(:last-child) {
    margin-bottom: 16px; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 100px; }

.lcpadding {
  padding-left: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
.header {
  padding-top: 30px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e9e9e9; }

.header__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  color: #5941b6;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .logo:hover {
    text-decoration: none; }

.header__col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 1; }
  .header__col ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px; }
    .header__col ul li:not(:last-child) {
      margin-right: 24px; }
    .header__col ul li a {
      color: #222222;
      font-size: 16px; }

.header__promo {
  color: #5941B6;
  font-weight: 700; }

.header__top {
  background-image: url("../img/head-cup.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 19px;
  color: #fa501a;
  font-size: 16px;
  font-weight: 700;
  margin-right: 28px; }

.header__arr {
  background-image: url("../img/arr-head.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px; }

.header__heart {
  background-image: url("../img/heart-head.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px; }

.hero {
  background: linear-gradient(#f6f0ff 0%, white 100%);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 93px 0 50px 0;
  min-height: 334px; }
  .hero p {
    color: #5941b6;
    font-size: 23px;
    margin-top: 6px; }
  .hero h1 {
    color: #5941b6;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 9px; }
    .hero h1:before {
      display: none; }

.hero__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.hero__l {
  padding-right: 71px;
  width: calc(100% - 475px); }

.hero__r {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 430px; }
  .hero__r ul {
    margin-left: -3px; }
    .hero__r ul li {
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: calc(50% - 10px);
      border-radius: 71px;
      background: #f6f0ff;
      height: 37px;
      color: #5941b6;
      font-size: 18px;
      font-weight: 700;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 3px 12px 3px; }

section {
  padding-bottom: 73px; }

.popular {
  padding-top: 47px; }

.popular__contain {
  overflow: hidden;
  max-width: 1270px;
  padding: 0 50px; }
  .popular__contain .all-link {
    margin-top: 21px; }

.popular__slider {
  margin: 0 -15px;
  margin-top: -56px;
  overflow: visible; }
  .popular__slider .swiper-wrapper {
    padding: 50px 0; }
  .popular__slider .swiper-slide {
    padding: 0 15px;
    opacity: 0;
    transition: opacity 0.5s; }
    .popular__slider .swiper-slide.swiper-slide-visible {
      opacity: 1; }
  .popular__slider .slick-slide {
    padding: 0 15px;
    transition: 0.5s; }
    .popular__slider .slick-slide:not(.slick-active) {
      opacity: 0; }
  .popular__slider .slick-list {
    padding: 50px 0;
    overflow: visible;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }

.swiper__controls {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%; }

.swiper-pagination {
  height: 28px;
  position: static;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.swiper-button {
  position: static;
  margin-top: 0;
  width: 28px;
  height: auto; }
  .swiper-button:after {
    z-index: 12;
    width: 28px;
    height: 28px;
    border: none;
    background: none;
    font-size: 0;
    background: url("../img/arr-r.svg") no-repeat 0 0;
    padding: 0; }

.swiper-button-prev {
  left: calc(50% - 60px);
  margin-right: 4px; }

.swiper-button-next {
  margin-left: 4px;
  right: calc(50% - 60px); }
  .swiper-button-next:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.slick-arrow {
  z-index: 12;
  width: 28px;
  height: 28px;
  border: none;
  background: none;
  font-size: 0;
  background: url("../img/arr-r.svg") no-repeat 0 0;
  padding: 0;
  bottom: 0px;
  top: auto;
  position: absolute; }
  .slick-arrow.slick-disabled {
    opacity: 0.4; }
  .slick-arrow:hover {
    background-color: transparent; }
  .slick-arrow li button {
    padding: 0;
    border: none; }

.slick-prev {
  left: calc(50% - 60px); }

.slick-next {
  right: calc(50% - 60px);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.swiper-pagination-bullet {
  padding: 0;
  font-size: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #dadada;
  margin: 0 4px;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background-color: #555; }

.slick-dots {
  bottom: 3px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 11;
  position: absolute; }
  .slick-dots li {
    font-size: 0;
    background: none;
    padding: 0; }
    .slick-dots li button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: #dadada;
      margin: 0 4px; }
    .slick-dots li.slick-active button {
      background-color: #555; }

.pop__item {
  border-radius: 10px;
  background: white;
  box-shadow: rgba(88, 74, 182, 0.12) 5px 10px 25px 0px;
  min-height: 274px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px; }
  .pop__item > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 72px; }
    .pop__item > a:hover {
      text-decoration: none; }

.pop__content {
  margin-top: 11px; }

.pop__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px; }
  .pop__header a {
    color: #777777;
    font-size: 16px; }
  .pop__header .pop__mame {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px; }
  .pop__header p {
    color: #222222;
    font-size: 16px;
    line-height: 1.2; }

.pop__stat {
  border-radius: 40px;
  background: #f5f0ff;
  padding-top: 7px;
  padding-bottom: 7px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1; }
  .pop__stat > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 6px;
    margin-right: 6px; }
    .pop__stat > div span {
      margin-left: 3px;
      color: #777777;
      font-size: 14px; }
    .pop__stat > div img {
      margin-top: -2px; }

.stat {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1; }
  .stat span {
    margin-left: 3px;
    color: #777777;
    font-size: 14px; }
  .stat img {
    margin-top: -2px; }

.inner-page {
  padding-top: 42px; }

h1 {
  font-size: 32px;
  color: #7A6BB4;
  font-weight: 700;
  line-height: 1.375;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 28px; }
  h1:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 126px;
    height: 8px;
    border-radius: 23px;
    background: linear-gradient(115deg, #5941B6 0%, #FFF 100%); }

.h2 {
  font-size: 28px;
  color: #7A6BB4;
  font-weight: 700;
  line-height: 1.357;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 28px; }
  .h2:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 126px;
    height: 8px;
    border-radius: 23px;
    background: linear-gradient(115deg, #5941B6 0%, #FFF 100%); }

.how {
  color: #5941B6;
  font-size: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .how:hover {
    text-decoration: none; }
  .how:after {
    content: "";
    display: block;
    width: 19px;
    height: 7px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin-left: 2px;
    background: url("../img/icon-arrow-right.svg") no-repeat center; }

.rating-page table {
  margin-top: 24px;
  width: 100%; }
  .rating-page table thead tr td {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.357;
    line-height: normal;
    text-transform: uppercase;
    background: #F8F4FF;
    padding: 20px 20px 20px 0; }
    .rating-page table thead tr td:first-child {
      padding-left: 20px; }
  .rating-page table tbody tr td {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    border-bottom: 1px solid #DDD; }
  .rating-page table tr td:nth-child(4) {
    width: 170px; }
  .rating-page table tr td span {
    color: #777;
    display: block; }
  .rating-page table tr td img + span {
    display: block;
    margin-top: 8px;
    color: #5941B6; }
  .rating-page table tr td a {
    color: #5941B6; }
    .rating-page table tr td a:hover {
      text-decoration: none; }
  .rating-page table tr td:first-child {
    text-align: center; }

.th-sort {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .th-sort:after {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: url("../img/arr-sort.svg") no-repeat center;
    margin-left: 2px; }
  .th-sort.active:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.pb52 {
  padding-bottom: 52px; }
  .pb52 img {
    max-width: 100%; }

.form {
  width: 100%; }
  .form label {
    font-family: "Montserrat", sans-serif; }
  .form button {
    margin-bottom: 6px;
    margin-top: 16px; }
    .form button + p {
      font-family: "Montserrat", sans-serif;
      color: #777;
      font-size: 14px;
      line-height: 171%; }

.promo__form textarea {
  height: 226px;
  margin-top: 10px; }

.promo__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 28px; }
  .promo__row p:not(:last-child) {
    margin-bottom: 10px; }
  .promo__row p span {
    color: #777; }
  .promo__row label {
    display: block; }

.promo__row-2 label {
  width: 50%;
  padding: 0 15px; }

.promo__row-3 label {
  padding: 0 15px;
  width: 33.333%; }
  .promo__row-3 label p:not(:last-child) {
    margin-bottom: 10px; }

.promo__row-1 {
  margin-left: 0;
  margin-right: 0; }
  .promo__row-1 label {
    width: 100%; }

label sup {
  color: #FF3D00; }

.robot {
  margin-top: -15px; }

.btn-o,
*[class$="__btn"],
button {
  border-radius: 4px;
  background: #5941B6;
  height: 46px;
  padding: 0 39px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  font-weight: 700;
  transition: 0.5s; }
  .btn-o:hover,
  *[class$="__btn"]:hover,
  button:hover {
    text-decoration: none;
    background-color: #31188E;
    color: #FFF; }

.add__form {
  margin-top: 18px; }
  .add__form button + p {
    font-family: 'Nunito Sans', sans-serif; }
  .add__form .promo__row label {
    font-family: 'Nunito Sans', sans-serif; }
  .add__form textarea {
    height: 167px; }
  .add__form input[type="text"] {
    height: 46px; }

.addform_file-label input[type="file"] {
  display: none; }

.addform_file-box {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8D88A1;
  border-right: none;
  height: 46px;
  cursor: pointer;
  text-align: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .addform_file-box > div {
    padding: 15px; }
  .addform_file-box span {
    color: #777;
    padding: 0 20px;
    height: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    border: 1px solid #8D88A1;
    background: #F8F4FF;
    margin-left: auto;
    border-top: none;
    border-bottom: none; }

.o-page {
  padding-top: 28px; }

.accordion-header {
  cursor: pointer;
  position: relative;
  font-weight: 700; }
  .accordion-header:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 6px);
    right: 0;
    width: 12px;
    height: 12px;
    background: url("../img/acc-arrow.svg") no-repeat center; }
  .accordion-header.active-header:before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.accordion-content {
  display: none;
  margin-top: 16px; }
  .accordion-content.open-content {
    display: block; }

.accordion-item {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #ddd; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col-1 {
  width: 270px; }

.col-3 {
  width: calc(100% - 270px);
  padding-right: 30px; }

.row-inverse .col-3 {
  padding-right: 0;
  padding-left: 30px; }

.h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 17px;
  margin-top: 24px; }

.content p:not(:last-child) {
  margin-bottom: 12px; }

.all-link {
  font-size: 18px;
  display: inline-block; }

.categs__contain .all-link {
  margin-top: 26px; }

.categories__col {
  margin-bottom: 34px; }

.categories__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -34px; }

.categories__col {
  width: 25%;
  padding: 0 15px; }

.categories__item {
  border-radius: 10px;
  overflow: hidden;
  display: block; }
  .categories__item:hover {
    text-decoration: none; }
    .categories__item:hover > span {
      background: #F6F0FF; }
  .categories__item > span {
    height: 130px;
    background: #F8F4FF;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    transition: 0.5s; }
  .categories__item div {
    height: 70px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
    background: #5941B6;
    color: #FFF; }

.footer {
  background: #f8f4ff;
  padding-top: 32px;
  padding-bottom: 28px; }

.footer__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer__logo {
  color: #5941b6;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .footer__logo:hover {
    text-decoration: none; }

.footer__copy {
  margin-top: 6px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer__copy div {
    color: #777777;
    font-size: 14px;
    font-weight: 400; }
    .footer__copy div:not(:last-child) {
      margin-right: 13px; }

.foot__menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px; }
  .foot__menu li:not(:last-child) {
    margin-right: 30px; }
  .foot__menu li a {
    color: #222222;
    font-size: 16px; }

.publications__tags {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .publications__tags li:not(:last-child) {
    margin-right: 25px; }
  .publications__tags li a {
    color: #FA501A; }

.publications__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 20px;
  margin-bottom: -46px; }
  .publications__row .publications__col {
    margin-bottom: 45px; }

.publications__col {
  width: 33.3333%;
  padding: 0 15px; }

.publications__item > a {
  height: 206px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-bottom: 18px;
  overflow: hidden; }
  .publications__item > a img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.publications__item > div {
  color: #777777;
  margin-bottom: 7px; }

.publications__item p {
  margin-bottom: 0; }
  .publications__item p a {
    font-weight: 700;
    display: block;
    color: #222222;
    margin-bottom: 7px; }
    .publications__item p a:hover {
      text-decoration: none; }

.publications__item > span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .publications__item > span .publications__tags {
    margin-right: 8px; }
  .publications__item > span div {
    background-image: url("../img/icon-view.svg");
    background-repeat: no-repeat;
    background-position: right center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #777777;
    padding-right: 21px;
    line-height: 1; }

.banner {
  min-height: 206px;
  background: linear-gradient(#f6f0ff 0%, white 100%);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 58px;
  padding-bottom: 58px; }
  .banner p {
    color: #5941B6;
    text-align: center; }
  .banner h1 {
    font-weight: 900;
    color: #5941B6;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 16px; }
    .banner h1:before {
      display: none; }
  .banner ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .banner ul li {
      background-image: url("../img/check-violet.svg");
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 18px; }
      .banner ul li:not(:last-child) {
        margin-right: 64px; }

.pt28 {
  padding-top: 28px; }

.platforms__slider {
  padding-bottom: 60px; }
  .platforms__slider .swiper__controls {
    bottom: 0; }

.platforms__item {
  text-align: center; }
  .platforms__item > span {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 72px;
    margin-bottom: 17px; }
  .platforms__item p a {
    background-image: url("../img/arr-platforms.svg");
    background-repeat: no-repeat;
    background-position: left center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 23px;
    color: #8d88a1;
    font-size: 16px; }
    .platforms__item p a:hover {
      text-decoration: none; }

.articles {
  padding-bottom: 0; }
  .articles .all-link {
    margin-top: 22px; }

.prod {
  padding: 44px 0 40px 0;
  background: linear-gradient(180deg, #F6F0FF 0%, #FFF 100%);
  min-height: 307px; }

.prod__col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.prod__logo {
  height: 72px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 19px; }

.prod__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  line-height: 1; }
  .prod__row > p {
    color: #222222;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 8px;
    margin-bottom: -5px; }
  .prod__row > span {
    display: inline-block;
    color: #777777; }
  .prod__row > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 16px; }
    .prod__row > div span {
      width: 18px;
      height: 18px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 3px; }
    .prod__row > div div {
      color: #777777; }

.prod__tools {
  margin-top: 4px;
  margin-bottom: 14px;
  line-height: 1; }
  .prod__tools a {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 6px; }
    .prod__tools a:hover {
      text-decoration: none; }
    .prod__tools a span {
      margin-left: 4px;
      color: #777777;
      font-size: 16px; }

.btn-o {
  background-color: #FFF;
  color: #5941b6;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #5941b6;
  height: 46px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 23px;
  padding-right: 23px; }

.description .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical; }
  .description .text.more {
    overflow: visible;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    box-orient: unset; }

.platform {
  padding-top: 28px; }
  .platform table {
    margin-top: 20px; }
    .platform table td {
      padding-bottom: 11.5px; }
      .platform table td a {
        line-height: 1; }
        .platform table td a:hover {
          text-decoration: none; }
        .platform table td a:not(:last-child) {
          margin-right: 11px;
          display: inline-block; }
      .platform table td span {
        color: #777; }
      .platform table td:nth-child(1) {
        color: #777777;
        width: 205px;
        padding-right: 17px; }
  .platform .col-1 .btn-o {
    width: 100%; }

.h4 {
  color: #7a6bb4;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 26px; }

.hide {
  display: none; }
  .hide.show {
    display: block; }

.analogs .pop__item {
  margin-bottom: 24px; }

.analogs .pop__content p {
  margin-bottom: 18px; }

.descript__img {
  margin-top: 24px; }
  .descript__img img {
    max-width: 100%;
    height: auto; }

.charact__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: -14px; }
  .charact__row li {
    border-radius: 71px;
    background: url("../img/check-violet.svg") right 20px center no-repeat #f6f0ff;
    height: 34px;
    color: #5941b6;
    font-size: 16px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 40px;
    padding-left: 20px;
    margin-right: 10px;
    margin-bottom: 14px; }
    .charact__row li.disable {
      background-color: #F2F2F2;
      color: #a5a5a5;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      -webkit-filter: gray;
              filter: gray; }

.terms__w table td:nth-child(1) {
  width: 205px; }

.terms__tarif {
  margin-top: 3px;
  color: #222222;
  font-size: 18px;
  margin-bottom: 9px; }
  .terms__tarif + a {
    font-size: 18px; }

.terms__tarif-link {
  color: #5941b6;
  font-size: 18px;
  margin-left: 5px; }

.error {
  display: block;
  background-image: url("../img/error.svg");
  background-repeat: no-repeat;
  background-position: left center;
  color: #777777;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 20px;
  margin-top: 33px;
  display: block; }

.reviews__item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px; }
  .reviews__item:not(:last-child) {
    margin-bottom: 38px; }
  .reviews__item > p {
    margin-bottom: 16px; }
  .reviews__item a:hover {
    text-decoration: none; }

.reviews__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
  line-height: 1; }
  .reviews__top div {
    margin-right: 8px; }
  .reviews__top span {
    font-weight: 700; }
  .reviews__top p {
    display: inline-block;
    margin-left: 16px; }

.reviews__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .reviews__actions a {
    line-height: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 16px; }
  .reviews__actions img {
    margin-left: 4px;
    display: inline-block; }

.reviews__answer {
  color: #777;
  text-decoration: underline; }

.review__form {
  margin-top: 8px; }
  .review__form .promo__row p:not(:last-child) {
    margin-bottom: 11px; }

.reviews__items {
  margin-top: 30px; }

.h5 {
  color: #7A6BB4;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px; }

.lfilter button {
  width: 100%;
  margin-top: -5px; }

.lfilter label {
  line-height: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .lfilter label:not(:last-child) {
    margin-bottom: 18px; }
  .lfilter label input[type="checkbox"] {
    display: none; }
    .lfilter label input[type="checkbox"] + span {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      border: 1px solid #8D88A1;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      margin-right: 6px; }
    .lfilter label input[type="checkbox"]:checked + span {
      background: #5941B6 url("../img/check11.svg") no-repeat center;
      border-color: #5941B6; }

.lfilter__item {
  margin-bottom: 27px; }
  .lfilter__item input[type="text"] {
    height: 46px;
    padding: 0 10px; }
  .lfilter__item .select2-container {
    width: 100% !important;
    margin-top: -9px; }
    .lfilter__item .select2-container .select2-selection--single {
      width: 100% !important; }
  .lfilter__item > p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 22px; }
    .lfilter__item > p + span {
      margin-top: -16px;
      display: inline-block;
      margin-bottom: 10px; }

.select2-container {
  border: none; }
  .select2-container .select2-selection--single {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    line-height: 1;
    border: 1px solid #BABABA;
    background: #FFF;
    height: 46px;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 156px;
    border-radius: 4px !important; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      color: #222;
      font-size: 16px;
      padding-left: 0;
      /*width: 200px;*/
      margin-right: 0;
      padding-right: 0;
      line-height: 1;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 10px; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      width: 10px;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      height: 100%;
      background: url("../img/arr-b-sort.svg") no-repeat right center;
      position: static;
      margin-right: 10px;
      margin-left: 12px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none; }
  .select2-container .select2-dropdown {
    border: none;
    border-radius: 0; }
  .select2-container .select2-search--dropdown {
    border: none; }
    .select2-container .select2-search--dropdown .select2-search__field {
      border: none; }
  .select2-container .select2-results {
    border: none;
    margin-top: 0px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #BABABA;
    border-top: none;
    background: #FFF;
    padding: 14px 0; }
  .select2-container .select2-results__option {
    border: none;
    font-weight: 400;
    padding: 6px 14px;
    color: #222;
    font-size: 16px; }

.select2-container--open .select2-dropdown--below {
  /*width: 204px !important;*/ }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: none;
  color: #222; }

.select2-container--default .select2-results__option--selected {
  background: none;
  color: #222; }

.row-filter {
  margin-top: 36px; }

.rfilter__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  margin-top: -12px; }
  .rfilter__top .select2-container {
    width: auto !important; }
  .rfilter__top p {
    margin-bottom: 0; }
  .rfilter__top > div {
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .rfilter__top > div > p {
      display: inline-block;
      color: #777777;
      font-size: 16px;
      margin-right: 10px;
      margin-bottom: 0; }

.rfilter__item {
  border-radius: 10px;
  border: 3px solid #f5f0ff;
  background: white;
  box-shadow: rgba(88, 74, 182, 0.12) 5px 10px 25px 0px;
  padding: 24px 22px 23px 24px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .rfilter__item + .rfilter__item {
    margin-top: 21px; }

.com__prod-logo-w {
  width: 175px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 23px;
  margin-top: -3px; }
  .com__prod-logo-w div {
    height: 72px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6px; }

.com__prod-desc {
  width: 50%;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.com__mame-check {
  background-image: url("../img/check-com.svg");
  background-repeat: no-repeat;
  background-position: left top;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 21px;
  top: 22px;
  z-index: 5; }

.com__prod-bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1; }
  .com__prod-bottom .pop__stat {
    padding-left: 14px;
    padding-right: 14px; }
  .com__prod-bottom .prod__tools {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    opacity: 0.6; }
    .com__prod-bottom .prod__tools a {
      margin: 0 6px; }

.spagin {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  margin-top: 52px; }
  .spagin li {
    margin: 0 2px; }
    .spagin li a {
      width: 37px;
      height: 37px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 4px;
      color: #222; }
      .spagin li a:hover {
        text-decoration: none;
        background: #F5F0FF;
        color: #5941B6; }
      .spagin li a.active {
        background: #F5F0FF;
        color: #5941B6; }

.learn__mark-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  margin-top: 3px;
  margin-bottom: 10px; }
  .learn__mark-row a {
    color: #fa501a;
    font-size: 16px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 8px; }
  .learn__mark-row div {
    color: #777777;
    font-size: 16px;
    background-image: url("../img/icon-view.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 21px; }

.article p {
  line-height: 1.5; }
  .article p.b {
    line-height: 1.375; }

.article h2 {
  color: #7a6bb4;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 24px;
  margin-top: 28px; }

.article h3 {
  color: #7a6bb4;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 27px; }

.article img {
  max-width: 100%; }

.article h1 {
  padding-bottom: 0;
  color: #7a6bb4;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px; }
  .article h1:before {
    display: none; }

.article__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px; }
  .article__info div {
    margin-right: 24px;
    color: #777777; }

.article__img {
  display: block;
  margin-bottom: 16px; }

ul.contents {
  margin-bottom: 52px; }
  ul.contents li {
    line-height: 1.5; }
    ul.contents li + li {
      margin-top: 16px; }
    ul.contents li a {
      color: #5941b6;
      font-size: 16px; }

.article__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
  margin-top: 23px; }
  .article__actions > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .article__actions > div span {
      color: #777777; }
  .article__actions .btn-o {
    margin-right: 51px; }
  .article__actions > a {
    background-image: url("../img/arr-r-list.svg");
    background-repeat: no-repeat;
    background-position: right center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 21px; }
    .article__actions > a:hover {
      text-decoration: none; }

.rating__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px; }

.rating__caption {
  margin-right: 10px; }

.rating__stars {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.rating__star {
  cursor: pointer;
  transition: 0.1s;
  width: 24px;
  height: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/addreview-star-o.svg") no-repeat center; }
  .rating__star:hover {
    background-image: url("../img/addreview-star.svg"); }

.rating__star:hover ~ .rating__star {
  background-image: url("../img/addreview-star.svg"); }

.rating__stars[data-result-value="1"] .rating__star:nth-child(n + 5),
.rating__stars[data-result-value="2"] .rating__star:nth-child(n + 4),
.rating__stars[data-result-value="3"] .rating__star:nth-child(n + 3),
.rating__stars[data-result-value="4"] .rating__star:nth-child(n + 2),
.rating__stars[data-result-value="5"] .rating__star:nth-child(n + 1) {
  background-image: url("../img/addreview-star.svg"); }

.addcomment {
  padding-top: 0; }

.similar {
  padding-top: 76px;
  padding-bottom: 0; }

.learn__l-title {
  color: #222222;
  font-size: 16px;
  margin-bottom: 16px; }

.learn__l-ul {
  margin-bottom: 24px; }
  .learn__l-ul li {
    margin-bottom: 16px; }
    .learn__l-ul li a {
      color: #5941b6; }
  .learn__l-ul + span {
    color: #777777; }

.learn__r-socs {
  line-height: 1;
  margin-top: 6px; }
  .learn__r-socs a {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .learn__r-socs a:not(:last-child) {
      margin-right: 16px; }

.video_1 {
  margin-bottom: 18px;
  display: block; }

.compare table {
  width: 100%; }
  .compare table td {
    width: 33.33%;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd; }
    .compare table td span {
      display: block;
      color: #777; }
    .compare table td img {
      display: inline-block;
      margin-left: 4px;
      margin-top: -4px;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; }
    .compare table td:nth-child(1) {
      font-weight: 700; }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
